body {
  font-family: "Poppins", Arial, sans-serif; /* Set font-family to Poppins */
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: #aa4b6b; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #3b8d99,
    #6b6b83,
    #aa4b6b
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #3b8d99,
    #6b6b83,
    #aa4b6b
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.box {
  border: 2px solid #2016e2; /* Initial border style */
  border-radius: 5px;
  padding-top: 35px;
  padding-bottom: 70px;
  padding-left: 10px;
  padding-right: 10px;
  animation: borderAnimation 5s infinite alternate;
  width: 80%; /* Set the width to 80% of the viewport width */
  max-width: 600px; /* Set a maximum width to ensure it doesn't get too wide */
  height: auto; /* Allow the height to adjust based on content */
}

.container {
  text-align: center;
}

input[type="date"] {
  padding: 8px;
  margin-top: 10px;
  font-size: 20px;
  font-family: Poppins;
}

#age {
  font-family: "Poppins", Arial, sans-serif; /* Set font-family to Poppins */
  font-size: 40px;
  margin-top: 40px;
  margin: auto; /* Center the age display */
}

@keyframes borderAnimation {
  0% {
    border-color: #ff0000; /* Start with red */
  }
  25% {
    border-color: #ffff00; /* Change to yellow */
  }
  50% {
    border-color: #00ff00; /* Change to green */
  }
  75% {
    border-color: #0000ff; /* Change to blue */
  }
  100% {
    border-color: #ff00ff; /* Change to magenta */
  }
}

.button-85,
.button-back {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-85:before,
.button-back:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after,
.button-back:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}

.button-back {
  background-color: #333;
  margin-top: 30px; /* Adjust the margin-top value */
  display: none; /* Initially hide the back button */
}

.credit {
  position: absolute;
  bottom: 10px; /* Adjust the distance from the bottom */
  right: 10px; /* Adjust the distance from the right */
  color: rgb(204, 253, 8); /* Set the color */
  font-size: 10px; /* Set the font size */
}
